/* 

  Design Settomgs 

  ---  TYPOGRAPHY

  - Font sizes (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font Weights 
    Default   : 400
    Medium    : 500
    Semi Bold : 600
    Bold      : 700    

  - Line Heights
      Default           : 1
      Small             : 1.05
      Medium            : 1.2
      Paragraph Default : 1.6
  - Letter Spacing 
      0.5px
      0.75

  --- 02 COLORS

  - Primary : 
      #e67e22
  - Tints :
      #fdf2e9
  - Shades :
      #cf711f
  - Accents :

  - Greys :
      #333
      #555
      #6f6f6f


  --- 03 IMAGES

  Sources: 
    unsplash.com
    uifaces.com

  --- 04 ICONS
  --- 05 SHADOWS
  --- 06 BORDERS and RADIUSES
      - Default : 9px ; PS  : This is wont be change on high and low so px should be used instead of rem
      - Medium : 11px

  --- 07 WHITESPACES
  - Spacing (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Reusable/General components */

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 1.6rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  /* color: #2e1907; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.link:link,
.link:visited {
  display: inline-block;
  position: relative; /* required for pseudo-element */
  text-decoration: none;
  color: #e67e22;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

/* underline element */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.link:hover,
.link:active {
  color: #cf711f;
}

/* shrink to center */
.link:hover::after,
.link:active::after {
  transform: scaleX(0);
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /* Put Transition on original state */
  /* transition: background-color 0.3s ease; */
  transition: all 0.3s ease;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;

  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #e67e22; */
  /* Trick to add a border  */
  box-shadow: inset 0 0 0 3px #fff;
}

.mr-sm {
  /*Margin Right Small*/
  margin-right: 1.6rem !important; /* With Highest Priority */
}
/* Settings/Helper Classes */
.mb-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}

/* Helper classes */
.center-text {
  text-align: center;
}
