/* 

Design Settomgs 

---  TYPOGRAPHY

- Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights 
  Default : 400

- Line Heights
    Default : 1



--- 02 COLORS

- Primary : 
    #e67e22
- Tints :
    #fdf2e9
- Shades :
    #cf711f
- Accents :

- Greys :
    #555
    #333


--- 03 IMAGES

Sources: 
  unsplash.com
  uifaces.com

--- 04 ICONS
--- 05 SHADOWS
--- 06 BORDERS and RADIUSES
--- 07 WHITESPACES
- Spacing (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Reusable components */

.mr-sm {
  /*Margin Right Small*/
  margin-right: 1.6rem !important; /* With Highest Priority */
}

/* Styles here */

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /* Put Transition on original state */
  transition: background-color 0.3s ease;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;

  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #e67e22; */
  /* Trick to add a border  */
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
  width: 100%;
}
